<h2>Bienvenido al expositor</h2>
<p>El modo actual es: {{modoElegido}}</p>
<div *ngIf="modoElegido === 'Comprar'">
    <p>Carrito</p>
    <p> {{librosComprados.length}} unidades compradas</p>
    <h3>Libros comprados</h3>
    <div class="cards">
        <app-carta-libro *ngFor="let libro of librosComprados" [libroRecibido]="libro" [estaEnCarrito]="true" (sacado)="sacarLibro(libro)"></app-carta-libro>
    </div>

</div>



<h2>Cátalogo de libros</h2>
<div class="cards">
    <app-carta-libro *ngFor="let libro of librosOfrecidos" [libroRecibido]="libro" (comprado)="gestionaCompra($event)" (eliminado)="eliminarLibro(libro)" ></app-carta-libro>
</div>


<button (click)="modoElegido = 'Comprar'">Comprar</button>
<button (click)="cambiarModo('Consultar')">Consultar</button>