<!-- Barra de navegación -->
<mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <span class="elementoBarra" *ngIf="loginService.logeado" (click)="cerrarSesion()">Cerrar Sesión</span>
</mat-toolbar>

<!-- Contenido de la web -->
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <div class="elementoBarra" *ngIf="!loginService.logeado" routerLink="/usuario/login"> Inicio de sesión</div>
        <div class="elementoBarra" routerLink="libro/expositor"> Expositor de libros</div>
        <div class="elementoBarra" routerLink="autor/expositor"> Expositor de autores</div>
        <div class="elementoBarra" *ngIf="loginService.logeado" routerLink="libro/creacion"> Creación de libros</div>
        <div class="elementoBarra" *ngIf="loginService.logeado" routerLink="autor/creacion"> Creación de autores</div>
        <!--{{loginService.logeado}}-->
    </mat-drawer>
    <!--<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>-->
    <div class="example-sidenav-content">
        <!-- Resultado del enrutamiento -->
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>